body {
	margin: 0;
	padding: 0;
	background-color: #67A256;
	overflow: hidden;
		background-image: url("../images/grass_hc.png");
	background-repeat:  repeat;
	background-blend-mode: multiply;

}
a:link {
    text-decoration: none;
	color: #000;
	font-style: bolder;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;

}

a:active {
    text-decoration: none;
}

.turtle {

}

.turtle2 {


    

}

.turtle3 {
	 
}


#painted {
	height: 45px;
	width: 95px;
	position: relative;
	left: 3%;
	bottom: 0px;
}

#painted::before {
	content: " ";
	width: 128px;
	height: 128px;
	background-image: url("../images/painted.gif");
	position: absolute;
	left: -15px;
	top: -11px;
}

#paintedHolder {
	height: 128px;
	width: 128px;
		background-image: url("../images/painted.gif");
	position: absolute;
}



#spotted {
	height: 47px;
	width: 95px;
	position: relative;
	left: 24%;
	bottom: 0px;
}

#spotted::before {
	content: " ";
	width: 128px;
	height: 128px;
	background-image: url("../images/spotted.gif");
	position: absolute;
	left: -15px;
	top: -14px;
}

#softshell {
	height: 40px;
	width: 111px;
	position: relative;
	left: 49%;
	bottom: 0px;
}

#softshell::before {
	position: absolute;
	content: " ";
	width: 128px;
	height: 128px;
	background-image: url("../images/softshell.gif");
}

#redbelly {
	height: 47px;
	width: 95px;
	position: relative;
	left: 72%;
	bottom: 0px;
}

#redbelly::before {
	content: " ";
	width: 128px;
	height: 128px;
	background-image: url("../images/redbelly.gif");
	position: absolute;
	left: -15px;
	top: -14px;
}



#wood{
	height: 45px;
	width: 95px;
	position: relative;
	left: 9%;
	bottom: 0px;
}

#wood::before {
	content: " ";
	width: 138px;
	height: 138px;
	background-image: url("../images/wood.gif");
	background-repeat: no-repeat;
	position: absolute;
	left: -15px;
	top: -11px;
}

#bog {
	height: 47px;
	width: 75px;
	position: relative;
	left: 30%;
	bottom: 0px;
}

#bog::before {
	content: " ";
	width: 128px;
	height: 128px;
	background-image: url("../images/bog.gif");
	background-repeat: no-repeat;
	position: absolute;
	left: -17px;
	top: -1px;
}

#blandings{
	height: 40px;
	width: 111px;
	position: relative;
	left: 54%;
	bottom: 0px;
}

#blandings::before {
	position: absolute;
	content: " ";
	width: 139px;
	height: 128px;
	background-image: url("../images/blandings.gif");
	background-repeat: no-repeat;
		left: -12px;
	top: -14px;
}

#map{
	height: 40px;
	width: 90px;
	position: relative;
	left: 79%;
	bottom: 0px;
}

#map::before {
	content: " ";
	width: 136px;
	height: 128px;
	background-image: url("../images/map.gif");
	background-repeat: no-repeat;
	position: absolute;
	left: -15px;
	top: -14px;
}

#mud{
	height: 45px;
	width: 95px;
	position: relative;
	left: 15%;
	bottom: 0px;
}

#mud::before {
	content: " ";
	width: 138px;
	height: 128px;
	background-image: url("../images/mud.gif");
	background-repeat: no-repeat;
	position: absolute;
	left: -15px;
	top: -11px;
}

#snapping {
	height: 55px;
	width: 95px;
	position: relative;
	left: 36%;
	bottom: 0px;
}

#snapping::before {
	content: " ";
	width: 138px;
	height: 128px;
	background-image: url("../images/snapping.gif");
	background-repeat: no-repeat;
	position: absolute;
	left: -15px;
	top: -22px;
}

#box{
	height: 40px;
	width: 105px;
	position: relative;
	left: 60%;
	bottom: 0px;
}

#box::before {
	position: absolute;
	content: " ";
	width: 128px;
	height: 128px;
	background-image: url("../images/box.gif");
	background-repeat: no-repeat;
		left: -8px;
	top: -26px;
}

#musk{
	height: 47px;
	width: 88px;
	position: relative;
	left: 85%;
	bottom: 0px;
}

#musk::before {
	content: " ";
	width: 128px;
	height: 128px;
	background-image: url("../images/musk.gif");

	position: absolute;
	background-repeat: no-repeat;
	left: -32px;
	top: -14px;
}

h2 {
	color: #fff;
	font-size: 24px;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 25px;
	text-align: center;
	letter-spacing: 11px;
	font-family: silkscreennormal;
	background-color: #2B99FF;
}

@media screen and (max-width: 900px) {
	h2 {
		letter-spacing: 8px;
		padding-top: 18px;
		line-height: 125%;
		font-size:18px
	}
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
	h2 {
font-size: 37px;
	}
}

#hills {
	position: relative;
	display: block;
	height: 470px;
	width: 100%;
	background-color: #2B99FF;
	margin: 0;
	padding: 0;
	background-image: url("../images/hills_darker.png");
	background-repeat: repeat-x;
	background-position: calc(100% - 60px) calc(100% - 200px);
}

#infodropper {
	z-index: 200;
	position: absolute;
	height: 100px;
	width: 100px;
	top: 110px;
	margin: 0 auto;
	left: 0;
	right: 0;
	background-color: #2B99FF;

	text-align: center;
	-webkit-border-radius: 50%;
	-khtml-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

#infodropper p {
	position: absolute;
	color: #2B99FF;
	top: 50%;
	left: 50%;
	font-size: 26px;
	line-height: 84%;
	transform: translateX(-55%) translateY(-90%);
	font-family: 'Blenda Script';
}

@media screen and (max-width: 400px) {
	#infodropper {
	}
}

#infoDiv {
	z-index: 220;
	position: absolute;
	height: 100px;
	width: 100px;
	top: 110px;
	margin: 0 auto;
	left: 0;
	right: 0;
	overflow:auto;
	visibility:hidden;
	background-color: #fff;
	text-align: center;
	-webkit-border-radius: 50%;
	-khtml-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.infoCard {
	top:0;
	display:none;
	position: relative;
	height: 100%;
	width: 100%;
	background-color: #fff;
	text-align: center;
		color: #000;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	word-wrap: break-word;
	line-height: 130%;

	

}
.infoCard img {
	margin:0 auto;
	padding:0;
max-width: 50%;
	height: auto;
	
}
.infoPhotoHolder {
  display: table;
  width: 100%;
  table-layout: fixed;
	
}

.infoCard h1 {
	color: #000;
	top: 50%;
	left: 50%;
	font-size: 35px;
	letter-spacing: 12px;
	margin-top:20px;
	font-family: 'silkscreennormal';
	text-transform: uppercase;
	

}

.sciName{
	font-family: Roboto;
	font-style: italic;
	font-size: 20px;
	color: #7e7e7e;
	font-weight: bold;
}

 .title{
	font-family: Roboto;
	font-size: 14px;
	 font-weight: bold;
	 text-transform: uppercase;
	 line-height:180%;
	 letter-spacing: 2px;


}


.infoCard p {

}

@media screen and (max-width: 400px) {
		.infoCard  {

	}
	
	.infoCard p {
		font-size: 14px;
	}
}

.infoCard h2 {
	color: #000;
	background-color: #fff;
	font-size: 11px;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	letter-spacing: 5px;
	line-height: 120%;
	text-align: center;
	word-wrap: break-word;
}

.turtleText{

	padding:10px;

}

.dismissButton{
	position: absolute;
	width:35px;
	height:35px;
	top:10px;
	right:10px;
	z-index:300;
	display: none;
}

.dismissButton:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.dismissButton img{
	max-height:100%;
	max-width:100%;

}



.infoDivSpacer{
	width:100%;
	height:100px;
}

#turtleContainer1 {

	position: absolute;
	height: 350px;
	width: 100%;
	margin: 5;
	overflow: hidden;

}

#turtleContainer2 {

	position: absolute;
	height: 470px;
	width: 100%;
	margin: 5;


}

#turtleContainer3 {

	position: absolute;
	height: 600px;
	width: 100%;
	margin: 5;


}

@media all and (orientation: landscape) {
		#turtleContainer1 {
	height: 400px;
	}	#turtleContainer2 {
	height: 550px;
	}
	
	
	#turtleContainer3 {
	height: 700px;
	}
	
}

#ground {
	position: relative;
	height: 320px;
	width: 100%;
	bottom: 210px;
	background-color: #67A256;
	background-image: url("../images/grass_hc.png");
	background-repeat:  repeat;
	background-blend-mode: multiply;
}

@font-face {
	font-family: 'silkscreenbold';
	src: url('../fonts/slkscrb-webfont.eot');
	src: url('../fonts/slkscrb-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/slkscrb-webfont.woff') format('woff'), url('../fonts/slkscrb-webfont.ttf') format('truetype'), url('../fonts/slkscrb-webfont.svg#silkscreenbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'silkscreennormal';
	src: url('../fonts/slkscr-webfont.eot');
	src: url('../fonts/slkscr-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/slkscr-webfont.woff') format('woff'), url('../fonts/slkscr-webfont.ttf') format('truetype'), url('../fonts/slkscr-webfont.svg#silkscreennormal') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Blenda Script';
	src: url('../fonts/BlendaScript.eot');
	src: url('../fonts/BlendaScript.eot?#iefix') format('embedded-opentype'), url('../fonts/BlendaScript.woff') format('woff'), url('../fonts/BlendaScript.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}